.container5 {
    /* 400px=25rem */
    max-width: 25rem;
    margin: 0 auto;
    /* 20px = 1.25rem */
    padding: 1.25rem; 
    background-color: #f8f9fa;
    /* 10px = 0.625rem */
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    /* 20px = 1.25rem */
    margin-bottom: 1.25rem;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    /* 15px = 0.9375rem */
    gap: 0.9375rem;
    /* 30px	= 1.875em */
    margin-top: 1.875rem;
  }

  .required-star {
    color: red;
    /* 5px =0.3 rem */
    margin-left: 0.3rem;
  }